# workflow name
name: Generate release-artifacts

# on events
on:
  release:
    types:
      - created
  push:
    tags:
      - 'v*.*.*'


# workflow tasks
jobs:
  generate:
    name: Generate cross-platform builds
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Generate build files
        uses: thatisuday/go-cross-build@v1
        with:
          platforms: 'linux/amd64, linux/arm, darwin/amd64, darwin/arm, windows/amd64, windows/arm'
          package: ''
          name: 'jenkins_consecutive_fail_detector'
          compress: false
          dest: 'dist'

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: "dist/*"
          prerelease: ${{ contains(github.ref, '-beta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}