# workflow name
name: Generate release-artifacts

# on events
on:
  release:
    types:
      - created
  push:
    tags:
      - 'v*.*.*'


# workflow tasks
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        GOOS: [ 'linux', 'windows', 'darwin']
        GOARCH: [ 'amd64', 'arm64']

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Generate release artifacts
        run: |
          go build -o dist/jenkins_consecutive_fail_detector_${GOOS}_${GOARCH}
        env:
          GOOS: ${{ matrix.GOOS }}
          GOARCH: ${{ matrix.GOARCH }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: "dist/*"
          prerelease: ${{ contains(github.ref, '-beta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
